  body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
  }

  .dice {
      font-size: 48px;
  }

  .result {
      font-size: 24px;
      margin-top: 20px;
  }

  .bet-input {
      width: 300px;
  }

  .bet-button.highlight {
      border: 2px solid red;
  }

  .win {
      color: blue;
  }

  .lose {
      color: red;
  }

  .mid {
      font-weight: bold;
      color: blue;
  }

  .confetti-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 9999;
  }

  @keyframes fall {
      0% {
          transform: translateY(-100vh);
      }

      100% {
          transform: translateY(100vh);
      }
  }

  .confetti {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #ff0;
      animation: fall 2s linear infinite;
  }

  .bet-button {
      margin: 5px;
      padding: 20px;
      height: unset;
      line-height: unset;
      font-size: 16px;
      background-color: rgba(255, 90, 228, 0.157);
      color: rgb(0, 0, 0);
      cursor: pointer;
      box-shadow: unset;
  }

  .retry-button {
      margin: 5px;
      padding: 20px;
      height: unset;
      line-height: unset;
      font-size: 16px;
      background-color: rgba(104, 101, 235, 0.783);
      color: rgb(255, 255, 255);
      cursor: pointer;
      box-shadow: unset;
  }

  .retry-button:hover {
      background-color: rgba(72, 71, 161, 0.783);
      color: rgb(255, 255, 255);
  }

  .bet-button:hover {
      background-color: rgba(185, 75, 167, 0.607);
      color: rgb(255, 255, 255);
  }

  .bet-button.selected {
      background-color: rgb(230, 145, 206);
      color: white;
  }

  .bet-input.highlight input {
      border-bottom: 2px solid rgb(142, 55, 55);
      color: red;
  }

  .bet-input.highlight label {
      color: red;
  }